<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="{{events[0].id}}"
      photoCover="{{events[0].cover}}"
      cardTitle="{{events[0].title}}"
      cardDescription="{{events[0].description}}"
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
    *ngFor="let event of events; let index as i;"
      Id="{{event.id}}"
      cardTitle="{{event.title}}"
      photoCover="{{event.cover}}"
    >
    </app-small-card>
  </div>
</div>
